@model Question_1.Models.Order

<h1>Order Details</h1>

<div>
    <h4>Order Date: @Model.OrderDate</h4>
    <h4>Total Amount: @Model.TotalAmount</h4>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
